.wrapper{
  width: 800px;
  margin: 0 auto;
}

.header{
  text-align: center;
  font-size: 40px;
  font-family: monospace;
  padding: 10px;
}

.content{
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.card{
  aspect-ratio: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-header{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.card-body{
  aspect-ratio: 1 / 1.1;
  display: flex;
  align-items: center;
}

.card-content{
  width: calc(100% - 60px);
  margin: 0 auto;
}

.card-content-price{
  text-align: center;
  font-size: 60px;
  font-style: italic;
  line-height: 0;
}

.card-content-desc{
  text-align: center;
}

.card-content-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #fff;
}

.monthly{
  flex: 3;
  background-color: #80af43;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.yearly{
  flex: 4;
  background-color: #65bab6;
  border-radius: 20px;
}

.forever{
  flex: 3;
  background-color: #f7cc4d;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.monthly-header{
  background-color: #6b9239;
}

.yearly-header{
  background-color: #488380;
}

.forever-header{
  background-color: #b1943d;
}


@media (max-width: 836px) {

.wrapper{
  width: 100%;
}

.card{
  aspect-ratio: unset;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.card-header{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-body{
  aspect-ratio: 2 / 1;
  display: flex;
  align-items: center;
}

.content{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}

.monthly{
  flex: 1;
  border-radius: 20px;
}

.yearly{
  flex: 1;
  border-radius: 20px;
}

.forever{
  flex: 1;
  border-radius: 20px;
}
}

@media (max-width: 420px) {
.card{
  width: 320px;
}
}